body {
    font-family: Oswald, sans-serif;
    font-style: normal;
    color: #000;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1210px;
    padding: 0 5px;
}

.button {
    display: inline-block;
    padding: 15px 55px;
    background-color: #5A0D67;
    border: 1px solid #5A0D67;
    border-radius: 3px;

    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;

    transition: all .3s linear;
}

.button:hover {
    background-color: #fff;
    color: #5A0D67;
}

.title {
    position: relative;
    font-weight: normal;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;

    margin-bottom: 50px;
    width: 215px;
}

.title--decor::before {
    position: absolute;
    content: "";
    width: 80px; 
    height: 2px;
    border-radius: 2px;
    background-color: #000;
    top: 40%;
    left: 100%;
}







/* HEADER */

header {
    position: absolute; 
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 5px;
}

.header__content a img {
    height: 53px;
    width: 200px;
}

.header__tel {
    font-weight: normal;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}







/* INTRO */

.intro {
    background: url(../img/intro_footer/bcg_car_intro.jpg) no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    margin-bottom: 200px;
}

.intro__content {
    position: relative;
    padding-top: 205px;
    padding-bottom: 120px;
}

.intro__car {
    position: absolute;
    right: 0;
    top: 440px;
    width: 100%;
    max-width: 815px;
}

.intro__content h1 {
    font-weight: normal;
    font-size: 72px;
    line-height: 107px;
    color: #fff;
    text-transform: uppercase;
}

.intro-p1 {
    font-weight: normal;
    font-size: 36px;
    line-height: 53px;
    color: #fff;
    text-transform: uppercase;
}

.intro-p2 {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #fff;

    margin: 30px 0;
}

.icons {
    display: flex;
    justify-content: center;
    width: 250px;
    margin-top: 75px;
}

.icons a {
    padding: 0 5px;
}

.icons a img {
    height: 25px;
    transition: all .2s linear;
}

.icons a img:hover {
    transform: scale(1.15);
}








/* SERVICES */

.services {
    margin-bottom: 100px;
}

.services__content {
    display: flex;
}

.services__content_description {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.scd-h5 {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #5A0D67;

    margin-bottom: 15px;
    width: 500px;
}

.scd-p {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;

    margin-bottom: 15px;
    width: 500px;
}

.scd-p:last-child {
    margin-bottom: 0;
}

.scd-p_margin {
    margin-bottom: 70px;
}

.scd-p_bottom {
    margin: auto 0;
}
 
.services__content_stages {
    width: 50%;
}

.services__list {
    list-style: none;
    counter-reset: my-counter;
}

.services__item {
    position: relative;
    counter-increment: my-counter;
    border: 1px solid #C4C4C4;
    margin-bottom: 12px;
    height: 55px;
    width: 450px;
    padding: 10px 15px 10px 115px;
    transition: all .2s linear;
}

.services__item:last-child {
    margin-bottom: 0;
}

.services__item::before {
    position: absolute;
    content: '0' counter(my-counter);
    left: 20px;
    font-size: 36px;
    line-height: 53px;
    font-weight: 400;
    color: #C4C4C4;
    transform: rotate(270deg);
    transition: all .2s linear;
}

.services__item:hover {
    border: 1px solid #5A0D67;
    width: 500px;
}

.services__item:hover .services__item-title {
    color: #5A0D67;
}

.services__item:hover::before {
    color: #5A0D67;
}

.services__item-title {
    font-weight: 300;
    font-size: 24px;

}

.services__item-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}

.services_button {
    margin-top: 50px;
}

.consultation--decor {
    position: relative;
}

.consultation--decor::before {
    position: absolute;
    content: "";
    background-color: #C4C4C4;
    height: 2px;
    width: 70px;
    top: 50%;
    right: -55px;
    transform: translateY(-50%);
}

.consultation--decor::after {
    position: absolute;
    content: "ЖМИ";
    top: 50%;
    right: -85px;
    transform: translateY(-50%);

    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #C4C4C4;
}








/* ADVANTAGES */

.advantages {
    margin-bottom: 100px;
}

.advantages__content {
    display: flex;
    justify-content: space-between;
}

.advantages__img-img {
    width: 100%;
    max-width: 320px;
}

.advantages__text {
    display: flex;
    flex-direction: column;
}

.title--padding {
    margin-left: 185px;
    margin-bottom: 0px;
}

.advantages__text-case {
    background-color: #21062A;
    width: 600px;
    padding-left: 185px;
    margin: auto 0 20px 0;
}

.advantages__list {
    list-style: none;
}

.advantages__item {
    width: 315px;
}

.advantages__item-num {
    font-size: 36px;
    line-height: 37px;
    text-transform: uppercase;
    color: #fff;

    padding-top: 25px;
}

.advantages__item-title {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
}

.advantages__item-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #C4C4C4;
}

.ait--padding {
    padding-bottom: 45px;
}







/* CAROUSEL */

.carousel {
    margin-bottom: 100px;
}

.carousel-title {
    width: 375px;
}

.carousel__inner {
    margin: 0 -7px;
}

.carousel__item {
    margin: 0 7px;
}

.carousel__item-box {
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 7px 7px 16px 7px;
    text-align: center;
    transition: all .2s linear;
}


.carousel__item-box:hover {
    transform: scale(1.05);
}

.carousel__item-img {
    max-width: 100%;
    margin-bottom: 25px;
    border-radius: 3px;
}

.carousel__item-title {
    font-weight: 300;
    margin-bottom: 5px;
}

.carousel__item-text {
    font-weight: 300;
    margin-bottom: 5px;
}

.carousel .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    list-style: none;
}


.carousel .slick-dots button {
    font-size: 0;
    border: none;
    padding: 0;
    margin: 0 10px;
    background-color: #c4c4c4;
    width: 50px;
    height: 2px;
}

.carousel .slick-active button {
    background-color: #5A0D67;
    height: 4px;
}











/* FEEDBACK */

.feedback__content {
    display: flex;
}

.feedback__contacts {
    width: 50%;
}

.feedback__contacts-title {
    margin-top: 50px;
    width: 170px;
}

.feedback__list {
    list-style: none;
}

.feedback__list_item {
    margin-bottom: 20px;
}

.fli--bottom {
    margin-bottom: 60px;
}

.feedback__list_item-h {
    color: #5A0D67;
    font-weight: 300;
    font-size: 18px; 
    line-height: 27px;       
}

.feedback__list_item-text {
    font-weight: 300;
    font-size: 18px;  
    line-height: 27px;
}

.feedback__list_item-tel {
    text-decoration: none;
    font-weight: 300;
    font-size: 18px; 
    color: #000;
    line-height: 27px;
}

.feedback__form {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #21062A;
    align-items: center;
}

.feedback__form-title {
    margin-top: 50px;
    margin-bottom: 15px;
    width: 280px;
    color: #fff;
    transform: translateX(-15%);
}

.feedback-title--decor::before {
    position: absolute;
    content: "";
    width: 80px; 
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
    top: 40%;
    left: 100%;
}

.contacts__input {
    font-family: Oswald, sans-serif;
    display: block;
    width: 450px;
    height: 75px;
    margin-bottom: 12px;
    background-color: transparent;

    text-align: center;
    font-size: 18px;
    color: #fff;
    border: 1px solid #fff;
}

.contacts__btn {
    font-family: Oswald, sans-serif;
    display: inline-block;
    margin-top: 68px;
    padding: 15px 55px;
    background-color: #5A0D67;
    border: 0;
    border-radius: 3px;

    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;

    transition: all .3s linear;
}

.contacts__btn:hover {
    background-color: #fff;
    color: #5A0D67;
}











/* FOOTER */

footer {
    background-color: #21062A;
    padding: 25px 0;
}

.footer__content {
    display: flex;
    align-items: center;
}

.footer__logo {
    display: inline-block;
    width: 33.3333333%;
    text-align: left;
}

.footer__icons {
    width: 33.3333333%;
    text-align: center;
}

.footer__icons a {
    padding: 0 2px;
}

.footer__icons a img {
    height: 25px;
    transition: all .2s linear;
}

.footer__icons a img:hover {
    transform: scale(1.15);
}

.footer__confidentiality {
    width: 33.3333333%;

    text-align: right;
}

.confidentiality {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    text-decoration: none;
    transition: all .2s linear;
}

.confidentiality:hover {
    color: rgb(230, 230, 230);
}
